# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Badr\Documents\LYCEE_IUT_EI\3_EFREI\L3\Semestre_05\Programmation_C_C++\ProjetC++\Theme4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
